version: '3'

networks:
  default:
    driver: bridge

volumes:
  data:
    driver: local

services:
  controller:
    image: leapsolutionsasia/auto-scaling
    hostname: controller
    networks:
      - default
    restart: always
    volumes:
      - data:/auto-scaling
      - .:/auto-scaling/tmp
    command: python -u controller/controller.py --prefix {{ vm_prefix }}{{ item }}
  dashboard:
    image: leapsolutionsasia/auto-scaling
    hostname: dashboard
    networks:
      - default
    ports:
      - {{ dashboard_port + item|int }}:{{ dashboard_port }}
    restart: always
    volumes:
      - data:/auto-scaling
      - .:/auto-scaling/tmp
    command: flask run --host 0.0.0.0 --port {{ dashboard_port }}
    environment:
      FLASK_APP: dashboard/dashboard.py
