[Unit]
Description=Leap GIO Public Auto Scaling Agent
Wants=network.target network-online.target
After=network.target network-online.target
ConditionPathExists=/opt/auto-scaling/agent

[Service]
ExecStart=/opt/auto-scaling/agent/agent.py
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
