{% extends "layout.html" %}
{% block content %}

    <div class="content-section">

        <form method="POST" action="">
        
        {{ form.hidden_tag() }}

        <div class="col-md-8">
          <div class="content-section">
            <h3>Leap GIO API Settings</h3>
            <p>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Endpoint : {{ cs_endpoint }}</li>
                <li class="list-group-item list-group-item-light">Key : {{ cs_key }}</li>
                <li class="list-group-item list-group-item-light">Secret : {{ cs_secret }}</li>
              </ul>
            </p>
          </div>
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

        </form>

    </div>

{% endblock content %}
