{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <fieldset class="form-group">

                <legend class="border-bottom mb-4">Put your API Credential Here!</legend>
                <div class="form-group">
                    {{ form.key.label(class="form-control-label") }}

                    {% if form.key.errors %}
                        {{ form.key(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.key.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.key(class="form-control form-control-lg", value=cs_key) }}
                    {% endif %}

                </div>

                <div class="form-group">
                    {{ form.secret.label(class="form-control-label") }}
                    {% if form.secret.errors %}
                        {{ form.secret(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.secret.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.secret(class="form-control form-control-lg", value=cs_secret) }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.endpoint.label(class="form-control-label") }}
                    {% if form.endpoint.errors %}
                        {{ form.endpoint(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.endpoint.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.endpoint(class="form-control form-control-lg", value=cs_endpoint) }}
                    {% endif %}
                </div>

            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock content %}
