{% extends "layout.html" %}
{% block content %}

    <div class="content-section">

        <form method="POST" action="">
        {{ form.hidden_tag() }}
		
        <div class="col-md-20">
          <div class="content-section">
            <h3>Autoscale Settings</h3>
            <p>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Maximum number of instances :{{ autoscaling_autoscaling_vm }}</li>
                <li class="list-group-item list-group-item-light">Threshold of Scale-up : {{ autoscaling_upper_limit }}</li>
                <li class="list-group-item list-group-item-light">Threshold of Scale-down : {{ autoscaling_lower_limit }}</li>
              </ul>
            </p>
          </div>
        </div>
        
        <div class="col-md-20">
          <div class="content-section">
            <h3>Tenant Settings</h3>
            <p>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Zone : {{ tenant_zone_name }}</li>
                <li class="list-group-item list-group-item-light">Load Balancer Rule : {{ tenant_lb_rule_name }}</li>
                <li class="list-group-item list-group-item-light">Template : {{ tenant_template_name }}</li>
                <li class="list-group-item list-group-item-light">Service Offering : {{ tenant_serviceoffering_name }}</li>
              </ul>
            </p>
          </div>
        </div>
        
        <div class="col-md-20">
          <div class="content-section">
            <h3>Network list</h3>
            <p>
              <ul class="list-group">
                {% for i in networks_name_list %}
                    <li class="list-group-item list-group-item-light">{{ i }}</li>
                {% endfor %}
              </ul>
            </p>
          </div>
        </div>
        
        <div class="col-md-20">
          <div class="content-section">
            <h3>VM list</h3>
            <p>
              <ul class="list-group">
                {% for i in vms_name_list %}
                    <li class="list-group-item list-group-item-light">{{ i }}</li>
                {% endfor %}
              </ul>
            </p>
          </div>
        </div>

        <div class="col-md-20">
          <div class="content-section">
            <h3>Timezone</h3>
            <p>
              <ul class="list-group">
                  <li class="list-group-item list-group-item-light">{{ timezone }}</li>
              </ul>
            </p>
          </div>
        </div>
        
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>	

        </form>
    </div>

{% endblock content %}
